<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Description</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of Pages">
      <td>{{ page.name }}</td>
      <td>{{ page.description }}</td>
      <td> <a href="{{page.link}}" target="_blank">{{ page.link }}</a><td>
      <td>
        <button routerLink="/edit/{{page.id}}"><img src="../../../assets/edit.png"></button>
        <button (click)="deleteRow(page)"><img src="../../../assets/delete.png" ></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="create-container">
  <a  class="create" routerLink="/create"><img src="../../../assets/add.png"></a>
</div>
