
<form [formGroup]="pageForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label for="name">Language</label>
    <input type="text" formControlName="name" required>
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text" formControlName="description" required>
  </div>
  <div>
    <label for="link">Link</label>
    <input type="text" formControlName="link" required>
  </div>
  <button [disabled]="!pageForm.valid" type="submit" >Enviar</button>
</form>
<a class="come-back" routerLink="">Regresar</a>
